@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
  font-family: "PT Sans";
  background-image: url("https://images.unsplash.com/photo-1480288828958-3072ad1606c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-color: #cccccc; 
}

#header {
 text-align: center; 
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 600px;
  background-color: #D6EAF8;
  /* Form outline */
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
  font-weight: 600;
  font-size: 18px;
}

ul {
  list-style: none;
}

#name, #email, #age, #dropdown, #msg, #submit, #number {
  width: 100%;
  height: 40px;
  border-radius: 0.5em;
  margin-top: 0.7em;
}

#favorite, #information {
 line-height: 24pt;
}

#submit {
  color: white;
  font-weight: 600;
  font-size: 18pt;
  background-color: #5DADE2;
  outline: none !important;
}
